In [1]:
# load library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
submission = pd.read_csv("sample_submission.csv")

**데이터 확인하기**

In [5]:
df.head()

   id                                            reviews  target
0   0                                     조아요 처음구입 싸게햇어요       2
1   1  생각보다 잘 안돼요 매지 바른지 하루밖에 안됐는데ㅠㅠ 25천원가량 주고 사기 너무 ...       1
2   2  디자인은괜찮은데 상품이 금이가서 교환했는데 두번째받은상품도 까져있고 안쪽에 금이가져...       2
3   3  기전에 이 제품말고 이마트 트레이더스에서만 팔던 프리미엄 제품을 사용했었습니다. 샘...       2
4   4                                  튼튼하고 손목을 잘 받쳐주네요~       5

In [6]:
df.tail()

          id                                      reviews  target
24995  24995          일단향이너무너무좋은데지속력만좋다면좋겠지만..워낙저렴해그래도좋아여       5
24996  24996  동일한 업체에서 발송하고 한 상자로 배송되었는데 택배비는 이중 처리되었습니다.       2
24997  24997                      향이 좋아요!! 다른 향도 시켜보고 싶어요       4
24998  24998    펼쳐보니 끝부분쯤에 50cm정도 찟어져 있습니다 날짜관계로 구냥 사용합니다       2
24999  24999                             호호애미 제품은 늘 믿고 써요       5

train.csv는 id, reviews, target 총 3개의 컬럼으로 이루어져 있습니다.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       25000 non-null  int64
 1   reviews  25000 non-null  object
 2   target   25000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 586.1+ KB

In [9]:
df.isnull().sum()

id         0
reviews    0
target     0
dtype: int64

결측값 0개!ㄷㄷ

**데이터 전처리**
<br>
이 대회는 상품 리뷰 텍스트와 별점의 관계성을 파악하는 것이므로 y는 target 컬럼, x는 reviews 컬럼일 것입니다.

In [14]:
# x,y 정의하기
X = df.reviews
y = df.target

<ul>
    <li>워드 임베딩: 텍스트를 숫자 값으로 바꾼 뒤 입력</li>
    <li>CountVectorizer: 입력된 문장을 토큰화하여 토큰의 등장 빈도 벡터로 바꿔주는 기법</li>
    <li>토큰화: 문장을 의미가 있는 최소 단위로 쪼개는 것</li>
</ul>

In [16]:
# countVectorizer 사용해보기
from sklearn.feature_extraction.text import CountVectorizer

sample_vector = CountVectorizer()

In [17]:
sample_text1 = ["hello my name is dacon and I am a data scientist!"]
sample_vector.fit(sample_text1)

CountVectorizer()

In [18]:
print(sample_vector.vocabulary_)

{'hello': 4, 'my': 6, 'name': 7, 'is': 5, 'dacon': 2, 'and': 1, 'am': 0, 'data': 3, 'scientist': 8}

In [19]:
sample_text2 = ["You are learning dacon data science"]
sample_vector = sample_vector.transform(sample_text2)
print(sample_vector.toarray())

[[0 0 1 1 0 0 0 0 0]]