In [3]:
##pandas 데이터를 원하는 형태로 가공할 때 사용
import pandas as pd

df = pd.DataFrame({'name':['김지훈', '이유진', '박동현', '김민지'],
                   'english':[90,70,60,40],
                   'math':[50,40,30,90]})

df

  name  english  math
0  김지훈       90    50
1  이유진       70    40
2  박동현       60    30
3  김민지       40    90

In [5]:
#데이터프레임으로 분석하기
##1. 특정 변수의 값 출력
df['english']

0    90
1    70
2    60
3    40
Name: english, dtype: int64

In [6]:
##2. 변수의 값으로 합계 구하고 평균 구하기
sum(df['english'])
sum(df['english'])/4

65.0

In [8]:
#혼자서 해보기
import pandas as pd
df = pd.DataFrame ({'제품':['사과', '딸기', '수박'],
                '가격':[1800,1500,3000],
                '판매량':[24,38,13]})

sum(df['가격'])/3
sum(df['판매량'])/3

25.0