**The relationship between installing CCTV and crime rate**
<br><br>
2016110838 행정학전공 홍서이

**Before data analysis**
- import libraries
- set font for Korean

In [1]:
# import library
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import math
import seaborn as sns
from scipy import stats
import statsmodels.formula.api as smf

!pip install folium
import folium
geo_json = "https://raw.githubusercontent.com/southkorea/seoul-maps/master/kostat/2013/json/seoul_municipalities_geo_simple.json"

Requirement already satisfied: folium in c:\dataanalysis\lib\site-packages (0.12.1.post1)
Requirement already satisfied: requests in c:\dataanalysis\lib\site-packages (from folium) (2.26.0)
Requirement already satisfied: jinja2>=2.9 in c:\dataanalysis\lib\site-packages (from folium) (2.11.3)
Requirement already satisfied: numpy in c:\dataanalysis\lib\site-packages (from folium) (1.20.3)
Requirement already satisfied: branca>=0.3.0 in c:\dataanalysis\lib\site-packages (from folium) (0.5.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\dataanalysis\lib\site-packages (from jinja2>=2.9->folium) (1.1.1)
Requirement already satisfied: idna<4,>=2.5 in c:\dataanalysis\lib\site-packages (from requests->folium) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\dataanalysis\lib\site-packages (from requests->folium) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\dataanalysis\lib\site-packages (from requests->folium) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\dataanalysis\lib\site-packages (from requests->folium) (2.0.4)

In [2]:
# Setting a Hangul font for data visualization

plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus']=False

**Creating DataFrames and organizing data**

In this notebook, I would like to analyze the relationship between CCTV and crime. 
For this analysis, I will integrate a total of four pieces of data.
- data1 = Crime in Seoul, 2020
- data2 = Number of CCTV setup in Seoul up to 2021
- data3 = urbanization Area per district in Seoul
- data4 = Population in Seoul, 2020
- data5 = Number of crimes by age in Seoul, 2020

In [3]:
# data1: crime in Seoul in 2020
crime = pd.read_csv('crime_seoul(2020).csv', encoding='cp949')
crime.head()

,자치구,전체 범죄 발생 건수,전체 범죄 검거 건수,살인 발생 건수,살인 검거 건수,강도 발생 건수,강도 검거 건수,강간강제추행 발생 건수,강간강제추행 검거 건수,절도 발생 건수,절도 검거 건수,폭력 발생 건수,폭력 검거 건수
0,종로구,3102,3343,9,7,7,9,192,855,1183,944,1711,1528
1,중구,3411,2323,2,2,5,6,186,128,1642,863,1576,1324
2,용산구,2969,2056,5,3,6,6,230,186,1111,534,1617,1327
3,성동구,2362,1774,5,5,3,3,115,98,1016,565,1223,1103
4,광진구,3601,2511,2,2,4,4,255,224,1664,874,1676,1407

In [10]:
#data2 : Number of CCTV setup in Seoul up to 2021
cctv_setup = pd.read_csv('cctv_setup_seoul.csv', encoding='cp949')
cctv_setup.head()

,자치구,cctv 총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년 신규 설치 cctv 개수
0,종로구,1772.0,813.0,0.0,0.0,210.0,150.0,1.0,261.0,85.0,9.0,200.0,43.0
1,중 구,2333.0,16.0,114.0,87.0,77.0,236.0,240.0,372.0,386.0,155.0,361.0,289.0
2,용산구,2383.0,34.0,71.0,234.0,125.0,221.0,298.0,351.0,125.0,307.0,617.0,0.0
3,성동구,3602.0,448.0,125.0,212.0,105.0,339.0,310.0,874.0,390.0,262.0,461.0,76.0
4,광진구,2588.0,35.0,57.0,100.0,187.0,98.0,52.0,675.0,465.0,712.0,175.0,32.0

In [11]:
# data3 = Area per district in Seoul
area_seoul = pd.read_csv('using_area_seoul.csv')
area_seoul.head()

   자치구  행정구역면적  시가화면적  시가화면적비율
0  서울시  605.24  12.77    53.39
1  종로구   23.91   9.95    99.89
2   중구    9.96  13.37    61.14
3  용산구   21.87  12.47    73.98
4  성동구   16.86  11.80    69.16

In [12]:
# data4 = Population in Seoul
population = pd.read_csv('population_in_seoul.csv', encoding='cp949')
population.head()

,자치구,성별,계,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,...,50~54세,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95세 이상+
0,종로구,계,151581.0,3290.0,4293.0,4730.0,6309.0,14153.0,14905.0,10983.0,...,12351.0,12218.0,11019.0,7797.0,6159.0,5404.0,3546.0,1666.0,589.0,163.0
1,NaN,남자,73323.0,1660.0,2181.0,2402.0,3258.0,6529.0,7326.0,5573.0,...,5994.0,6059.0,5450.0,3733.0,2750.0,2335.0,1445.0,586.0,175.0,42.0
2,NaN,여자,78258.0,1630.0,2112.0,2328.0,3051.0,7624.0,7579.0,5410.0,...,6357.0,6159.0,5569.0,4064.0,3409.0,3069.0,2101.0,1080.0,414.0,121.0
3,중구,계,126467.0,3520.0,3501.0,2874.0,4031.0,9243.0,12269.0,10768.0,...,10010.0,10343.0,9871.0,7102.0,5385.0,4347.0,2787.0,1294.0,503.0,108.0
4,NaN,남자,60956.0,1746.0,1781.0,1447.0,1930.0,4020.0,6042.0,5378.0,...,4939.0,5050.0,4839.0,3360.0,2420.0,1829.0,1059.0,392.0,133.0,27.0

In [13]:
# data5 = "2020 서울시 연령별 범죄횟수.xls"
age_crime = pd.read_excel("raw_data/2020 서울시 연령별 범죄횟수.xls", header=1)
age_crime

,기간,서울시,합계,14세미만,14∼19,20∼25,26∼30,31~35,36~40,41∼50,51∼60,61∼70,71세이상,미상
0,2020,서울시,326222,8,12736,25102,27657,24384,28514,58614,63765,35782,14779,34881

As we see "2020 서울시 연령별 범죄횟수.xls", It is shown that there are only 8 crimes by offenders under the age of 14 in Seoul in 2020. Therefore, I will exclude the number of people under the age of 14 from the '계' column of the 'population_in_seoul.csv' file, which means the total number of people in each district in Seoul.

In [16]:
# Merge 1~4 dataset, make a DataFrame "df"
df = pd.merge(area_seoul, cctv_setup)
df = pd.merge(df, crime)
df = pd.merge(df, population)
df

,자치구,행정구역면적,시가화면적,시가화면적비율,cctv 총계,2012년 이전,2012년,2013년,2014년,2015년,...,50~54세,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95세 이상+
0,종로구,23.91,9.95,99.89,1772.0,813.0,0.0,0.0,210.0,150.0,...,12351.0,12218.0,11019.0,7797.0,6159.0,5404.0,3546.0,1666.0,589.0,163.0
1,용산구,21.87,12.47,73.98,2383.0,34.0,71.0,234.0,125.0,221.0,...,17944.0,17209.0,15678.0,10904.0,8540.0,7162.0,4971.0,2245.0,838.0,201.0
2,성동구,16.86,11.80,69.16,3602.0,448.0,125.0,212.0,105.0,339.0,...,25208.0,24814.0,22266.0,15151.0,11495.0,9103.0,5640.0,2488.0,823.0,201.0
3,광진구,17.06,13.86,97.52,2588.0,35.0,57.0,100.0,187.0,98.0,...,28443.0,27781.0,25451.0,17297.0,12453.0,9389.0,5725.0,2524.0,860.0,217.0
4,동대문구,14.22,11.18,60.44,2497.0,1090.0,146.0,60.0,29.0,111.0,...,26789.0,26911.0,25980.0,19295.0,15091.0,12226.0,7308.0,3209.0,980.0,244.0
5,중랑구,18.50,18.23,74.17,3296.0,302.0,24.0,253.0,88.0,141.0,...,33264.0,35119.0,32488.0,23046.0,17285.0,12920.0,7431.0,3151.0,1025.0,258.0
6,성북구,24.57,11.25,47.67,3958.0,83.0,78.0,170.0,230.0,323.0,...,34495.0,32228.0,30149.0,21763.0,17815.0,14526.0,9152.0,3995.0,1337.0,315.0
7,강북구,23.60,9.84,47.61,2462.0,0.0,0.0,24.0,65.0,105.0,...,25469.0,25837.0,24974.0,18961.0,15841.0,13163.0,7549.0,2947.0,1005.0,240.0
8,도봉구,20.66,14.57,41.11,1629.0,39.0,22.0,96.0,181.0,79.0,...,28100.0,28264.0,28014.0,19717.0,14983.0,12194.0,7615.0,3532.0,1244.0,298.0
9,노원구,35.44,15.89,53.47,2415.0,0.0,97.0,193.0,77.0,516.0,...,45317.0,41131.0,38034.0,27190.0,20355.0,16051.0,10456.0,4958.0,1633.0,401.0
10,은평구,29.71,15.72,89.20,3791.0,14.0,3.0,44.0,332.0,329.0,...,38040.0,36882.0,35376.0,25856.0,20932.0,16546.0,10274.0,4269.0,1436.0,340.0
11,서대문구,17.63,14.33,60.09,2940.0,730.0,253.0,155.0,108.0,137.0,...,24427.0,23524.0,21372.0,15296.0,12759.0,10713.0,7339.0,3122.0,1081.0,249.0
12,마포구,23.85,13.43,77.14,2421.0,58.0,93.0,77.0,61.0,162.0,...,27295.0,24832.0,22188.0,15483.0,12758.0,10726.0,6823.0,3121.0,988.0,239.0
13,양천구,17.41,18.96,45.76,3312.0,1413.0,167.0,181.0,143.0,180.0,...,39361.0,35879.0,31988.0,22830.0,16071.0,11120.0,6908.0,3345.0,1189.0,278.0
14,강서구,41.44,14.98,74.45,2560.0,55.0,129.0,106.0,213.0,188.0,...,42622.0,44814.0,43776.0,31226.0,22714.0,15220.0,9279.0,4562.0,1677.0,391.0
15,구로구,20.12,10.12,77.70,4075.0,852.0,216.0,349.0,187.0,268.0,...,34942.0,36420.0,35577.0,26187.0,18911.0,13170.0,7805.0,3333.0,1087.0,229.0
16,금천구,13.02,15.65,63.74,2374.0,0.0,0.0,178.0,80.0,361.0,...,21945.0,23704.0,21416.0,15040.0,10582.0,7526.0,4323.0,1847.0,590.0,156.0
17,영등포구,24.55,14.14,86.44,3778.0,572.0,136.0,238.0,123.0,209.0,...,31427.0,32778.0,30595.0,21728.0,15326.0,11309.0,7262.0,3313.0,1077.0,275.0
18,동작구,16.35,15.72,53.16,2297.0,41.0,24.0,25.0,503.0,128.0,...,29990.0,30159.0,28721.0,21002.0,16503.0,12584.0,7725.0,3392.0,1155.0,270.0
19,관악구,29.57,20.21,43.01,4942.0,428.0,205.0,291.0,513.0,529.0,...,34795.0,35828.0,34228.0,26176.0,20629.0,15631.0,8551.0,3377.0,1124.0,275.0
20,서초구,46.98,26.17,66.26,3704.0,116.0,75.0,94.0,71.0,563.0,...,32502.0,27932.0,25948.0,19461.0,15250.0,10346.0,5980.0,2981.0,1284.0,326.0
21,강남구,39.50,23.30,68.79,6502.0,124.0,77.0,75.0,597.0,840.0,...,42017.0,34475.0,31762.0,24427.0,19171.0,12654.0,7194.0,3670.0,1525.0,416.0
22,송파구,33.87,13.65,55.49,2854.0,72.0,61.0,86.0,85.0,215.0,...,52603.0,50949.0,47930.0,34164.0,23502.0,15089.0,8737.0,4411.0,1622.0,384.0
23,강동구,24.59,NaN,NaN,2547.0,332.0,27.0,163.0,49.0,154.0,...,32517.0,33367.0,32662.0,23591.0,16836.0,11116.0,6390.0,3104.0,1256.0,306.0

In [ ]:
# remove unnecessary columns in df

population = population[['자치구','성별','계']]
population = population.dropna()
population = population[['자치구','계']]
population

In [ ]:
# Extract necessary columns from dataset

area_seoul = area_seoul[['자치구','시가화면적']]
cctv_setup = cctv_setup[['자치구','cctv 총계', '2021년 신규 설치 cctv 개수']]
crime = crime[['자치구','전체 범죄 발생 건수']]

print(area_seoul.head(5))
print(cctv_setup.head(5))
print(population.head(5))
print(crime.head(5))

In [ ]:
# copy df for Column Calculation

df_copy = df.copy()

In [ ]:
# Make new columns for using in regression analysis
# 1. number of cctv per area in 2020

 ##1.1 Get cctv installation data up to 2020
df['cctv(2020)'] = df_copy['cctv 총계'] - df_copy['2021년 신규 설치 cctv 개수']

 ## 1.2 get number of cctv per area in 2020
df_copy['cctv(2020)'] = df['cctv(2020)']
df['면적당_cctv_개수'] = df_copy['cctv(2020)'] / df_copy['시가화면적']

 ##1.3 drop used data: cctv 총계, 2021년 신규 설치 cctv 개수, cctv(2020)
del df['cctv 총계']
del df['2021년 신규 설치 cctv 개수']
del df['cctv(2020)']
del df['시가화면적']
df

In [ ]:
# 2. Number of crimes in Seoul per capita
## 2.1 Make Number of crimes in Seoul per capita
df['인당_범죄율'] = df_copy['전체 범죄 발생 건수'] / df_copy['계']

df

In [ ]:
# data visualization
# 1. Crime occurrence and arrest per capita in Seoul

df.plot.bar(x='자치구', y='인당_범죄율', rot=0, figsize=(25,10))
plt.show()

In [ ]:
# data visualization
# 1. crime rate in Seoul per distinct

m = folium.Map(
    location  = [37.566345, 126.977893],
    zoom_start=10,
    titles = 'Stamen Terrain')

folium.Choropleth(
geo_data = geo_json,
data = df,
columns = ['자치구','인당_범죄율'],
key_on='properties.name',
fill_color='BuPu',
).add_to(m)


m

In [ ]:
# 2. numbers of CCTV per area in Seoul
df.plot.bar(x='자치구', y='면적당_cctv_개수', rot=0, figsize=(25,10))
plt.show()

In [ ]:
# data visualization
# Number of cctv per distinct in Seoul

m = folium.Map(
    location  = [37.566345, 126.977893],
    zoom_start=10,
    titles = 'Stamen Terrain')

folium.Choropleth(
geo_data = geo_json,
data = df,
columns = ['자치구','면적당_cctv_개수'],
key_on='properties.name',
fill_color='BuPu',
).add_to(m)


m

In [ ]:
df.columns

In [ ]:
df.head(5)

# Regression analysis
The hypothesis is "The number of CCTV will affect the crime rate.".

In this paper, crime rate means "전체 범죄 건수"/"구의 전체 인구수"
And in that theory, X is '면적당 cctv 개수' and Y is '인당 범죄발생건수'.

By doing Regression analysis, I will check the relationship between X and Y.

In [ ]:
##1.1 distplot(X)
sns.distplot(df['면적당_cctv_개수'])

In [ ]:
## 1.2 log(X)
df['log_cctv'] = df['면적당_cctv_개수'].apply(math.log)

## 1.3 displot(log(X))
sns.distplot(df['log_cctv'])

In [ ]:
# scatter(y,x1)
x = df.log_cctv
y = df.인당_범죄율

plt.scatter(x,y,alpha=0.5)

In [ ]:
# regression analysis: Y and X
df_ols = smf.ols('인당_범죄율~log_cctv',df).fit()
df_ols.summary()

**short conclusion**

**Short Conclusion**
There is no relation between CCTV and crime in Seoul